body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(0, 0, 0, 0.849);
  height: 100vh;
  margin: 0;
}

.container {
  max-width: auto;
  max-height: 100vh;
}

.left-pane {
  height: 100vh;
  width: 300px;
  position: absolute;
  background-color: #2f4f4f;
}

.right-pane {
  height: 100vh;
  width: calc(100% - 300px);
  margin-left: 300px;
  position: absolute;
  background-color: lightgray;
}

.my-user {
  justify-content: center;
  align-items: center;
}

.fa-solid .fa-user-pen {
  font-size: 20px;
}

h2 {
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 20px;
  width: 200px;
  display: inline-block;
}

.view-profile {
  display: inline-block;
  width: 60px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.view-profile:hover {
  background-color: rgb(199, 225, 199);
}

.modal {
  /* display: none; */
  display: block;
  width: 350px;
  height: 170px;
  background-color: rgb(199, 225, 199);
  border-radius: 10px;
  border-color: 2px solid black;
  min-width: 300px;
  z-index: 2000;
  display: flex;
  justify-self: center;
  margin-top: 220px;
}

label {
  padding-left: 10px;
}

input {
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

#username-change {
  padding-left: 20px;
  height: 25px;
}

h3 {
  padding-left: 10px;
}

.changebtn {
  padding-left: 10px;
  border-radius: 10px;
}

.closeModal {
  width: 50px;
  border-radius: 50px;
}

.add-group,
.filter-group {
  width: 100%;
  display: inline-block;
}

.add-contact {
  width: 45%;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0 10px 4%;
  height: 40px;
  font-weight: 600;
}

.add-contact:hover {
  background-color: rgb(199, 225, 199);
}

.fa-solid .fa-people-group {
  font-size: 15px;
  padding-left: 10px;
}

.group {
  width: 45%;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  font-weight: 600;
}

.group:hover {
  background-color: rgb(199, 225, 199);
}

.fa-solid .fa-people-group {
  font-size: 25px;
  padding-left: 10px;
}

.all {
  cursor: pointer;
  height: 20px;
  width: 30%;
  margin-left: 4%;
  border-radius: 5px;
}

.online {
  cursor: pointer;
  height: 20px;
  width: 30%;
  border-radius: 5px;
}

.offline {
  cursor: pointer;
  height: 20px;
  width: 30%;
  border-radius: 5px;
}

hr {
  width: 260px;
}

.contact-list {
  width: 100%;
  margin-top: 25px;
}

.contact-name {
  background-color: slategray;
  width: calc(100% - 12px);
  height: 35px;
  font-size: 25px;
  padding-left: 10px;
  border-top: 2px solid darkslategray;
  border-right: 2px solid darkslategray;
}

.contact-name:hover {
  background-color: lightgray;
}

.contact-name.active {
  background-color: lightgray;
  border-right: 2px solid transparent;
}

.header {
  background-color: darkslategray;
  width: 100%;
  height: 70px;
}

.chat {
  overflow-y: scroll;
  height: auto;
  max-height: 520px;
}

.chat::-webkit-scrollbar {
  display: none;
}

.message {
  padding: 7px 15px;
  background-color: lightslategray;
  margin: 10px 0px 0px 10px;
  height: 40%;
  display: block;
  width: 45%;
  border-radius: 15px;
}

.footer {
  background-color: darkslategray;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  display: inline-block;
}

.message-input {
  width: 85%;
  padding-left: 15px;
  margin-left: 10px;
  height: 37px;
  margin-top: 15px;
}

.send-message-btn {
  width: 10%;
  height: 40px;
  margin-left: 10px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.send-message-btn:hover {
  background-color: rgb(128, 185, 23);
  color: white;
  border-color: 2px solid white;
}

.fa-solid .fa-paper {
  font-size: 20px;
}

.logout {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.logout-btn {
  cursor: pointer;
  width: 100%;
  height: 70px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.logout-btn:hover {
  background-color: rgb(212, 174, 169);
}

.fa-solid .fa-right-from-bracket {
  padding-left: 20px;
  font-size: 25px;
}
