body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(0, 0, 0, 0.849);
  height: 100vh;
  margin: 0;
  /* display: flex; */
}

.container {
  max-width: auto;
  max-height: auto;
  /* display: flex; */
}

.left-pane {
  height: 100vh;
  width: 300px;
  min-width: 150px;
  position: absolute;
  background-color: #2f4f4f;
  /* display: flex; */
}

.right-pane {
  height: 100vh;
  width: calc(100% - 300px);
  margin-left: 300px;
  position: absolute;
  background-color: lightgray;
  /* display: flex; */
}

.my-user {
  justify-content: center;
  align-items: center;
}

.fa-solid .fa-user-pen {
  font-size: 20px;
}

h2 {
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 20px;
  width: 200px;
  display: inline-block;
}

.view-profile {
  display: inline-block;
  width: 50px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  border: none;
}

.view-profile:hover {
  background-color: rgb(199, 225, 199);
}

.add-group,
.filter-group {
  width: 100%;
  display: inline-block;
}

.view-group.g-active {
  background-color: rgb(56, 151, 47);
  color: white;
}

.add-contact {
  width: 30%;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0 10px 4%;
  height: 40px;
  font-weight: 600;
  border: none;
}
.add-contact.g-active {
  width: 30%;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0 10px 4%;
  height: 40px;
  font-weight: 600;
  border: none;
  background-color: rgb(56, 151, 47);
  color: white;
}

.add-contact:hover {
  background-color: rgb(199, 225, 199);
}

.fa-solid .fa-user {
  font-size: 20px;
  padding-left: 10px;
  font-weight: 800;
}

.group {
  width: 30%;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  font-weight: 600;
  border: none;
  font-weight: 700;
}

.group:hover {
  background-color: rgb(199, 225, 199);
}

.fa-solid .fa-people-group {
  font-size: 30px;
  margin-left: 10px;
}

hr {
  width: 260px;
}

.contact-list,
.group-list {
  width: 100%;
  margin-top: 25px;
}

.contact-name {
  background-color: rgb(84, 92, 100);
  width: calc(100% - 12px);
  height: 70px;
  font-size: 30px;
  border-top: 2px solid darkslategray;
  border-bottom: 3px solid white;
  border-right: 2px solid darkslategray;
  width: 300px;
  padding-left: 15px;
  padding-top: 2px;
  color: white;
}

.group-name {
  background-color: rgb(84, 92, 100);
  /* width: calc(100% - 12px); */
  width: 289px;
  height: 45px;
  font-size: 25px;
  padding-left: 10px;
  border-top: 2px solid darkslategray;
  border-right: 2px solid darkslategray;
  border-bottom: 3px solid white;
  color: white;
}

.contact-name:hover {
  background-color: lightgray;
  color: black;
}

.contact-name.active,
.group-name.active {
  background-color: lightgray;
  border-right: 2px solid transparent;
  color: black;
}

.header {
  background-color: darkslategray;
  width: 100%;
  height: 70px;
}

.chat {
  overflow-y: scroll;
  height: 550px;
}

.chat::-webkit-scrollbar {
  display: none;
}

.message {
  padding: 7px 15px;
  background-color: lightslategray;
  margin: 10px 0px 0px 10px;
  height: fit-content;
  display: block;
  width: fit-content;
  border-radius: 15px;
  font-weight: 600;
}

.message.from {
  padding: 7px 15px;
  background-color: lightslategray;
  margin: 10px 10px 0px 10px;
  height: fit-content;
  display: block;
  width: fit-content;
  border-radius: 15px;
  float: right;
  font-weight: 600;
}

.message.to {
  padding: 7px 15px;
  background-color: rgb(125, 175, 224);
  margin: 10px 10px 0px 10px;
  height: fit-content;
  display: block;
  width: fit-content;
  border-radius: 15px;
  float: left;
  font-weight: 600;
}

.date {
  font-weight: 300;
  font-style: italic;
}

.footer {
  background-color: darkslategray;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  display: flex;
}

.message-input {
  width: 85%;
  padding-left: 15px;
  margin-left: 10px;
  height: 37px;
  margin-top: 15px;
  display: flexl;
}

.send-message-btn {
  width: 10%;
  height: 40px;
  margin-left: 10px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.send-message-btn:hover {
  background-color: rgb(128, 185, 23);
  color: white;
  border-color: 2px solid white;
}

.fa-solid .fa-paper {
  font-size: 20px;
}

.logout {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.logout-btn {
  cursor: pointer;
  width: 100%;
  height: 70px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
}

.logout-btn:hover {
  background-color: rgb(168, 61, 47);
  color: white;
}

.fa-solid .fa-right-from-bracket {
  padding-left: 20px;
}

.online {
  font-size: 12px;
  border-radius: 10px;
  margin-left: 125px;
  padding: 2px 10px;
  background-color: #06ee34;
  font-weight: 600;
  display: table-cell;
}

.offline {
  font-size: 12px;
  border-radius: 10px;
  margin-left: 125px;
  padding: 2px 10px;
  background-color: red;
  font-weight: 600;
  vertical-align: -webkit-baseline-middle;
  display: table-cell;
}

.typing {
  padding-top: 3px;
  font-size: 13px;
  font-style: italic;
}

/* Modal Overlay */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Dim background */
  margin-top: 0;
}

/* Modal Content Box */
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 10px;
  border-radius: 8px;
  width: 260px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

input {
  padding-left: 40px;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
}

input:focus {
  border-bottom: 1px solid black;
  outline: none;
}

label {
  margin-left: 10px;
  font-weight: 500;
}

.save-group {
  margin-top: 15px;
  margin-left: 55px;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: darkslategray;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

.save-username {
  margin-top: 25px;
  margin-left: 50px;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: darkslategray;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

.save-username:hover {
  background-color: rgb(56, 151, 47);
  color: white;
}

.save-group:hover {
  background-color: rgb(56, 151, 47);
  color: white;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  cursor: pointer;
  margin-right: 10px;
}
.close:hover {
  color: #000;
}

.modal-title {
  color: black;
  padding-left: 10px;
  margin-top: 3px;
}

/* Media Quries */
/* @media screen and (max-width: 700px) {
  .left-pane {
    width: 30%;
    height: 100%;
    position: absolute;
  }

  .my-user
    .openModalBtn
    .logout
    .view-profile
    .add-contact
    .group
    .contact-list
    .group-list {
    float: left;
  }

  .right-pane .header .chat .footer {
    float: left;
  }

  .footer .message-input .send-message-btn {
    min-width: auto;
  }
} */

/* div.content {
    margin-left: 0;
  }
} */

/* @media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} */
